.row
  .col-md-6.col-md-offset-3
    .text-center
      %h1.text-uppercase Log in and start the fun
      %h4 Enter your credentials and enjoy!

    #user-signup-form
      = simple_form_for :session, { url: sign_in_path } do |f|
        = f.input :username, placeholder: "Username"
        = f.input :password, placeholder: "Password"
        = f.button :submit, "Sign In", class: "btn-block btn-primary"
