- if logged_in?
  %ul.list-group
    - current_user.rooms.each do |room|
      %li.list-group-item
        = link_to room.name, room, data: {behavior: "room-link", "room-id": room.id}
        = link_to fa_icon("sign-out"), room_room_users_path(room), remote: true,
          method: :delete, class: "pull-right"

