.row
  .col-md-6.col-md-offset-3
    .text-center
      %h1.text-uppercase Sign up and be part of the community!
      %h4 Share some details about you and start the fun!

    #user-signup-form
      = render "form"
