.row
  .col-md-2
    = render "layouts/shared/side_bar"
  .col-md-6.col-md-offset-1
    %h1.text-uppercase Select one room and start interacting with different people
    - @rooms.each do |room|
      .panel.panel-default
        .panel-body
          = link_to room_room_users_path(room), remote: true, method: :post do
            %h4.text-uppercase= room.name
          = room.topic
